'context-menu':
  'atom-text-editor[data-grammar~="tasklist"]': [
    { 'type': 'separator' }
    { 'label': 'Toggle Tasks'     , 'command': 'tasklist-tools:toggle' }
    { 'label': 'Set Tasks as Todo', 'command': 'tasklist-tools:todo'   }
    { 'label': 'Set Tasks as Done', 'command': 'tasklist-tools:done'   }
    { 'label': 'Set Tasks as Fail', 'command': 'tasklist-tools:fail'   }
    { 'type': 'separator' }
  ]
