'atom-text-editor[data-grammar~="tasklist"]':
  'alt-enter': 'tasklist-tools:toggle'
  'alt-*'    : 'tasklist-tools:todo'
  'alt-+'    : 'tasklist-tools:done'
  'alt--'    : 'tasklist-tools:fail'
  'alt-.'    : 'tasklist-tools:stamp'
  'alt-/'    : 'tasklist-tools:clean'
