'atom-text-editor[data-grammar~="tasklist"]':
  'ctrl-space': 'tasklist-tools:toggle'
  'ctrl-*'    : 'tasklist-tools:todo'
  'ctrl-+'    : 'tasklist-tools:done'
  'ctrl--'    : 'tasklist-tools:fail'
  'alt-+'     : 'tasklist-tools:stamp'
  'alt-*'     : 'tasklist-tools:clean'
