'atom-text-editor[data-grammar~="tasklist"]:not([mini])':
  'alt-enter': 'tasklist-tools:toggle'
  'alt-/'    : 'tasklist-tools:high'
  'alt-*'    : 'tasklist-tools:todo'
  'alt-+'    : 'tasklist-tools:done'
  'alt--'    : 'tasklist-tools:fail'
  'alt-.'    : 'tasklist-tools:info'
